name: daufootytipping
description: DAU Tips
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ">=3.1.5 <4.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  carousel_slider: ^4.2.1
  cloud_firestore: ^4.13.0
  collection: ^1.18.0
  cupertino_icons: ^1.0.2
  dio: ^5.3.4
  email_validator: ^2.1.17
  firebase_analytics: ^10.7.4
  firebase_app_check: ^0.2.1+8
  firebase_auth: ^4.14.0
  firebase_core: ^2.22.0
  firebase_core_platform_interface: ^5.0.0
  firebase_crashlytics: ^3.4.8
  firebase_database: ^10.3.4
  firebase_messaging: ^14.7.13
  firebase_remote_config: ^4.3.8
  firebase_ui_auth: ^1.10.0
  firebase_ui_localizations: ^1.8.0
  firebase_ui_oauth_apple: ^1.2.14
  firebase_ui_oauth_facebook: ^1.2.14
  firebase_ui_oauth_google: ^1.2.14
  firebase_ui_oauth_twitter: ^1.2.14
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.1.0
  flutter_localizations:
    sdk: flutter
  flutter_svg: ^2.0.9
  get_it: ^7.6.4
  googleapis: ^11.4.0
  googleapis_auth: ^1.4.1
  gsheets: ^0.5.0
  http: ^1.1.2
  http_mock_adapter: ^0.6.1
  intl: ^0.18.1
  json_annotation: ^4.8.1
  json_diff: ^0.2.1
  mockito: ^5.4.4
  package_info_plus: ^5.0.1
  provider: ^6.1.1
  toggle_switch: ^2.1.0
  tuple: ^2.0.2
  url_launcher: ^6.2.1
  uuid: ^4.3.3

dev_dependencies:
  build_runner: ^2.4.6
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  test: ^1.24.9

flutter_icons:
  android: true
  adaptive_icon_background: "#32a852"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icon/AppIcon.png"
  min_sdk_android: 21

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  json_serializable: ^6.7.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/teams/
    - assets/icon/
    - .env
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family: SocialIcons
      fonts:
        - asset: packages/firebase_ui_auth/fonts/SocialIcons.ttf
